*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
body{
    background: linear-gradient(45deg, #4ca0d1, #fafafa);
}
h1{
    text-align: center;
}

.logo-tech{
    width: 80px;
    position: absolute;
}
.container_login {
    width: 500px;
    height: 400px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.div_login{
    margin: 50px 20px;
}

.div_CPF{
    display: flex;
}

.div_senha {
    margin-top: 47px;
    display: flex;
}
.bi{
    top: 5px;
    right: 10px;
    cursor: pointer;
    border-bottom: 1px solid #0583F2;
}
.campo_dados {
    outline: 0;
    position: relative;
    padding: 6px 0;
    border-color: #0583F2;
    border-width: 0 0 1px 0;        
    width: 100%;
    font-size: 18px;
    
}

.campo_dados:focus {
    border-color: #0583F2;
}

.campo_dados:valid + label {
    color: #0583F2;
    margin-top: -16px;
    font-size: 12px;
}

.campo_dados:focus + label {
    color: #0583F2;
    margin-top: -16px;
    font-size: 12px;
}

.label_dados { 
    position: absolute;
    padding-left: 4px;
    font-size: 15px;
    transition: 0.2s;
}

.botão{
    margin-top: 60px;
    width: 460px;
    height: 50px;
    color: white;
    background-color: #74a9d8;
    font-size: 12.5px;
    border-radius: 4px;
    border: #9696965d 1px solid;

}

.botão:hover {
    background-color: #0583F2;
    border: #dadada 1px solid;
    color: white;
    cursor: pointer;
}